{% extends "base.html" %}
{% block title %} <title>Hello Hatters</title> {% endblock title %}
{% block content %} 
    <container>
        <div class="d-flex align-items-center justify-content-center" style="height: 350px;">
            <div class="row text-center">
                <div class="col-12" style="text-align: -webkit-center;"><img class="rounded_img" src="https://avatars1.githubusercontent.com/u/68215355?v=4" alt="me"></div>  
                <div class="col-12"><h1>Muhammad Iqbal Rofikurrahman</h1></div>
            </div>
        </div>
    </container>
{% endblock content %}
